{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a>管理员</a></li>
            <li><a href="{:url('admin/admin_user/add')}">添加管理员</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="table-responsive">  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 60px;">ID</th>
                        <th>用户名</th>
                        <th>状态</th>
                        <th>最后登录时间</th>
                        <th>最后登录IP</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="admin_user_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.username}</td>
                        <td>{php}echo $vo['status']==1 ? '启用' : '禁用';{/php}</td>
                        <td>{$vo.last_login_time}</td>
                        <td>{$vo.last_login_ip}</td>
                        <td>
                            <a href="{:url('admin/admin_user/edit',['id'=>$vo['id']])}" class="btn btn-mini btn-warning">编辑</a>
                            <button name="del" action="{:url('admin/admin_user/delete',['id'=>$vo['id']])}" class="btn btn-mini btn-danger">删除</button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>
</div>
{/block}