{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/nav/index')}">导航管理</a></li>
            <li class="active"><a>添加导航</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/nav/save')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">上级导航</label>
                       <div class="col-md-10 col-sm-10">
                           <select class="form-control" name="pid" required >
                                <option value="0">一级导航</option>
                                {foreach name="nav_level_list" item="vo"}
                                <option value="{$vo.id}" {if condition="$pid==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">导航名称</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="name" value="" required   placeholder="请输入导航名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">别名</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="alias" value="" placeholder="（选填）请输入导航别名" class="form-control">
                        </div>
                    </div>
                     <?php echo m_select('类型','type',map('admin-nav-type'),true,'','id="type"','type-item'); ?>
                   <div class="form-group" id="url">
                        <label class="col-sm-2 col-md-2">链接</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="link" value="" placeholder="（选填）请输入链接" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">图标</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="icon" value="" placeholder="（选填）如：fa fa-home" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">状态</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="status" value="1"  checked="checked">
                               显示
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="status" value="0" >
                               隐藏
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">打开方式</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="target" value="_self"  checked="checked">
                               默认
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="target" value="_blank" >
                               新窗口
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">排序</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="sort" value="0" required   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
                <div class="hide" id="formhide">
                    <div class="form-group" id="url-hide">
                        <label class="col-sm-2 col-md-2">链接</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="link" value="" placeholder="（选填）请输入链接" class="form-control">
                        </div>
                    </div>

                    <div class="form-group" id="cate-hide">
                        <label class="col-sm-2 col-md-2">文章类目</label>
                       <div class="col-md-10 col-sm-10">
                           <select class="form-control" name="link" >
                                {foreach name="category_level_list" item="vo"}
                                <option value="{$vo.id}">{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">
 var form = layui.form();
    form.on('select(type)',function (data) {
            $('#url').remove();
            $('#cate').remove();
           if(data.value=='url'){
                $('#url-hide').clone(true).attr('id','url').insertAfter( $('#type-item'));
           }else if(data.value=='cate'){
                $('#cate-hide').clone(true).attr('id','cate').insertAfter( $('#type-item'));
                form.render('select'); 
           }
        });
</script>
{/block}