{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/auth_group/index')}">权限组</a></li>
            <li><a href="{:url('admin/auth_group/add')}">添加权限组</a></li>
            <li class="active"><a>编辑权限组</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/auth_group/update')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">名称</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="title" value="{$auth_group.title}" required  placeholder="请输入权限组名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">状态</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="status" value="1"  {if condition="$auth_group.status==1"} checked="checked"{/if}>
                               启用
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="status" value="0" {if condition="$auth_group.status==0"} checked="checked"{/if}>
                               禁用
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="id" value="{$auth_group.id}">
                            <button type="submit" class="btn btn-primary">更新</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}