{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a>权限组</a></li>
            <li><a href="{:url('admin/auth_group/add')}">添加权限组</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <hr><div class="table-responsive">  <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="auth_group_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{php}echo $vo['status']==1 ? '启用' : '禁用';{/php}</td>
                        <td>
                            <a href="{:url('admin/auth_group/auth',['id'=>$vo['id']])}" class="btn btn-mini btn-primary">授权</a>
                            <a href="{:url('admin/auth_group/edit',['id'=>$vo['id']])}" class="btn btn-mini btn-warning">编辑</a>
                            <a href="{:url('admin/auth_group/delete',['id'=>$vo['id']])}" class="btn btn-mini btn-danger">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>
</div>
{/block}