/**
 * Created by wuweiming on 2017/5/11.
 */
.aboutus-catalog{
    background-color: #F6F6F6;
    padding-top:80px;
}

body{
    background-color: #F6F6F6;
}

.aboutus-banner{
    background: url(../images/aboutus-bg.jpg) no-repeat;
    background-size: 100% 100%;
    width:1920px;
    height:333px;
}

.aboutus-catalog .catalog-btn{
    float:left;
    text-align: center;
    color:#737373;
    font-size: 1.4rem;
    background-color: #fff;
    width:122px;
    margin-right:20px;
    padding:12px 0;
}

.aboutus-catalog .catalog-btn:after {
    display:inline-block;
    width:0;
    height:100%;
    vertical-align:middle;
    content:"";
}

.aboutus-catalog-list .active,.aboutus-catalog-list .catalog-btn:hover{
    color:#fff;
    background-color: #12B4EC;
}

.aboutus-catalog-list{
    width:568px;
    margin:0 auto;
    padding-bottom: 30px;
}

.aboutus-item{
    width:100%;
    padding: 80px 0;
    border-bottom: 1px solid #D3D3D3;
}

.item-thumbnail,.article{
    float:left;
    width:720px;
}

.item-thumbnail{
    width:521px;
    height:451px;
    margin-right: 100px;
}

.thumbnail{
    position: absolute;
    left:75px;
    top:22px;
    width:480px;
    height:300px;
}

.article .title{
    font-size: 1.6rem;
    color:#000f1f;
    margin-bottom:12px;
    margin-top:20px;
}

.article .catalog,.article .content{
    font-size: 1.2rem;
    color:#656565;
    margin-bottom: 40px;
    height:50px;
    overflow: hidden;
}

.aboutus-item-title{
    font-size: 3rem;
    color:#656565;
    text-align: center;
}

.aboutus-item-title-en{
    font-size: 1.6rem;
    color:#656565;
}

.qua-list{
    width: 100%;
}

.qua-item{
    width:16.6666667%;
    float: left;
}



/*手机竖屏*/
@media screen and (min-width: 320px) and (max-width: 767px){
    .public-header {
        height: 120px;
    }

    .aboutus-banner{
        display: none;
    }

    .aboutus-catalog {
        padding-top: 80px;
        zoom: 0.4;
    }

    .qua-item{
        width:25%;
    }
    #ab{
        padding: 80px 30px;
    }

    .item-thumbnail{
        float: none;
        margin: 0 auto;
    }

    .article .catalog,.article .content{
        height: 200px !important;
    }
    .article .content:last-child{
        height: 220px !important;
    }


}

/*平板或手机横屏*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .aboutus-banner{
        width:100%;
    }

    .public-header {
        height: 180px;
    }

    #ab{
        padding: 80px 30px;
    }

    .item-thumbnail{
        float: none;
        margin: 0 auto;
    }
}

/*小分辨率PC*/
@media screen and (min-width: 992px) and (max-width:1199px) {
    .aboutus-banner{
        width:100%;
    }
}
/*大分辨率PC */
@media screen and (min-width: 1200px) and (max-width: 1899px){
    .aboutus-item{
        zoom:0.7
    }

    .article .content:last-child{
        height: 120px !important;
    }
}

@media screen and (min-width: 1900px){

}