{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/category/index')}">栏目管理</a></li>
            <li class="active"><a>添加栏目</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/category/save')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2">上级栏目</label>
                       <div class="col-md-6 col-sm-10">
                           <select class="form-control" name="pid" >
                                <option value="0">一级栏目</option>
                                {foreach name="category_level_list" item="vo"}
                                <option value="{$vo.id}" {if condition="$pid==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">栏目名称</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="name" value="" required   placeholder="请输入栏目名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">别名</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="alias" value="" placeholder="（选填）请输入栏目别名" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">图标</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="icon" value="" placeholder="（选填）如：fa fa-home" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">缩略图</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="file" name="thumb" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">内容</label>
                       <div class="col-md-6 col-sm-10">
                            <textarea name="content" placeholder="" class="form-control" rows="3" id="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">类型</label>
                       <div class="col-md-6 col-sm-10">
                           <select class="form-control" name="type" >
                                <option value="1">列表</option>
                                <option value="2">单页</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">列表模板</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="list_template" value="" placeholder="（选填）请输入模板文件名" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">详情模板</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="detail_template" value="" placeholder="（选填）请输入模板文件名" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">排序</label>
                       <div class="col-md-6 col-sm-10">
                            <input type="text" name="sort" value="0" required   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/kindeditor/kindeditor.config.js"></script>
<script src="__JS__/kindeditor/kindeditor-all-min.js"></script>
{/block}
{block name="script"}
<script>
    KindEditor.ready(function(K) {
        K.create('#content', KindEditorOptions);
    });
</script>
{/block}