{extend name="./data/tpl/base.html" /}
{block name="body"}
    <form class="form-horizontal ajax-form" id="form" method="post" >
        <!--表单 s-->
        <div class="panel">
            <div class="panel-heading">
             创建表单
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>表单信息 ：</legend>
        <div class="form-group">
            <label class="col-sm-2 required">所属模块：</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" placeholder="默认为当前模块" name="module"
                       value="{$Request.module}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 required">表单说明：</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" placeholder="表单说明" name="table_comment">
            </div>
        </div>
                </fieldset>
                <fieldset>
                    <legend>字段信息 ：</legend>
                <div class="btn-group">
                    <a href="javascript:;" class="btn btn-success op-add" data-type="form" data-header="1">增加一栏</a>
                </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-c">
                <th width="660" colspan="5"  title="字段配置信息">字段</th>
                <th width="90" rowspan="2"  title="勾选后自动给字段添加排序功能">排序</th>
                <th width="220" colspan="2"  title="自动生成搜索项">搜索</th>
                <th width="630" colspan="5"  title="如何使用请看该插件文档">字段验证</th>
            </tr>
            <tr class="text-c">
                <th width="120"  title="中文描述，编辑页为对应label标签内容，首页对应表头内容">标题<span class="label label-dot label-danger"></span></th>
                <th width="120"  title="一般为对应数据库字段的名称">名称<span class="label label-dot label-danger"></span></th>
                <th width="130"  title="自动生成编辑页相应的表单控件">类型<span class="label label-dot label-danger"></span></th>
                <th width="170"
                     title="只针对select,radio,checkbox控件,支持变量和配置值，例如 {foo}-对应conf.foo对应的配置项，生成foreach循环 | 1:值一#2:值二#3:值三 | 空值的默认标签名">
                    选项值
                </th>
                <th width="120"  title="字段编辑页默认值">默认值</th>
                <th width="90"  title="勾选后自动生成控制器筛选项和前端搜索框">表单搜索</th>
                <th width="130"  title="select的取值为字段中的选项值">搜索类型</th>
                <th width="90"  title="勾选后在验证器和前端生成必填校验规则">是否必填</th>
                <th width="180"  title="插件的datatype配置项">验证规则</th>
                <th width="180"  title="插件的nullmsg配置项">空值提示</th>
                <th width="180"  title="插件的errormsg配置项">错值提示</th>
                <th width="150" rowspan="2"  title="删除后不可恢复，谨慎操作">
                    操作
                </th>
            </tr>
            </thead>
            <tbody id="tbody-form">
            <tr>
                <td  title="中文描述，编辑页为对应label标签内容，首页对应表头内容">
                    <input type="text" class="form-control form-title" placeholder="中文描述" name="form[0][title]">
                </td>
                <td  title="一般为对应数据库字段的名称">
                    <input type="text" class="form-control form-name" placeholder="字段，字母" name="form[0][name]">
                </td>
                <td  title="自动生成编辑页相应的表单控件">
                    <div class="select-box">
                        <select class="form-control" name="form[0][type]">
                            <option value="text">text</option>
                            <option value="select">select</option>
                            <option value="radio">radio</option>
                            <option value="textarea">textarea</option>
                            <option value="checkbox">checkbox</option>
                            <option value="password">password</option>
                            <option value="number">number</option>
                            <option value="date">date</option>
                        </select>
                    </div>
                </td>
                <td  title="只针对select,radio,checkbox控件,支持变量和配置值，例如 {foo}-对应conf.foo对应的配置项，生成foreach循环 | 1:值一#2:值二#3:值三 | 空值的默认标签名">
                    <input type="text" class="form-control" placeholder="变量或以#隔开" name="form[0][option]">
                </td>
                <td  title="字段编辑页默认值">
                    <input type="text" class="form-control" placeholder="表单默认值" name="form[0][default]">
                </td>
                <td  title="勾选后自动给字段添加排序功能">
                    <div class="radio-box" style="display:block;margin-top: -10px;margin-left: 45%">
                        <input type="checkbox" name="form[0][sort]" value="1">
                    </div>
                </td>
                <td class="text-c"  title="勾选后自动生成控制器筛选项和前端搜索框">
                    <div class="radio-box" style="display:block;margin-top: -10px;margin-left: 45%">
                        <input type="checkbox" name="form[0][search]" value="1">
                    </div>
                </td>
                <td  title="select的取值为字段中的选项值">
                    <div class="select-box">
                        <select class="form-control" name="form[0][search_type]">
                            <option value="text">text</option>
                            <option value="select">select</option>
                            <option value="date">date</option>
                        </select>
                    </div>
                </td>
                <td  title="勾选后在验证器和前端生成必填校验规则">
                    <div class="radio-box" style="display:block;margin-top: -10px;margin-left: 45%">
                        <input type="checkbox" name="form[0][require]" value="1" class="form-require">
                    </div>
                </td>
                <td  title="插件的datatype配置项">
                    <input type="text" class="form-control form-validate-datatype" placeholder="正则或预定义规则"
                           name="form[0][validate][datatype]">
                </td>
                <td  title="插件的nullmsg配置项">
                    <input type="text" class="form-control" placeholder="必填时为空提示信息" name="form[0][validate][nullmsg]">
                </td>
                <td  title="插件的errormsg配置项">
                    <input type="text" class="form-control" placeholder="格式错误时提示信息" name="form[0][validate][errormsg]">
                </td>
                <td  title="删除后不可恢复，谨慎操作">
                    <a href="javascript:;" type="button" class="btn btn-mini btn-success op-add" data-type="form">增加</a>
                    <a href="javascript:;" type="button" class="btn btn-mini btn-danger  op-delete">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="form-group hide">
                    <label class="col-sm-2 col-md-2">删除代码：</label>
                    <div class="col-md-6 col-sm-10 ">
                        <div class="radio-box">
                            <input type="checkbox" name="delete_file" value="1">
                            <label title="删除刚刚自动生成的文件、数据表，如果涉及文件夹为了安全不会递归删除，如果有表，若为选择强制建表不会删除原来的表，如果要删除刚刚自动生成的数据表请勾选强制删除后再点删除代码">删除不带回收站功能，请谨慎操作</label>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="form-group hide">
                    <label class="col-sm-2 col-md-2">首页菜单：</label>
                    <div class="col-md-6 col-sm-10 ">
                        <div class="radio-box">
                            <input type="checkbox" name="menu[]" id="radio-0" value="add" checked>
                            <label for="radio-0">添加</label>
                        </div>
                        <div class="radio-box">
                            <input type="checkbox" name="menu[]" id="radio-1" value="forbid" checked>
                            <label for="radio-1">禁用</label>
                        </div>
                        <div class="radio-box">
                            <input type="checkbox" name="menu[]" id="radio-2" value="resume" checked>
                            <label for="radio-2">恢复</label>
                        </div>
                        <div class="radio-box">
                            <input type="checkbox" name="menu[]" id="radio-3" value="delete" checked>
                            <label for="radio-3">删除</label>
                        </div>
                        <div class="radio-box" title="勾选回收站会自动创建回收站">
                            <input type="checkbox" name="menu[]" id="radio-4" value="recycleBin" checked>
                            <label for="radio-4">回收站</label>
                        </div>
                        <div class="radio-box" title="勾选保存排序后对于有sort字段的表自动给添加快速排序功能">
                            <input type="checkbox" name="menu[]" id="radio-5" value="saveOrder" checked>
                            <label for="radio-5">保存排序</label>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="form-group hide">
                    <label class="col-sm-2 col-md-2">创建模型：</label>
                    <div class="col-md-6 col-sm-10 ">
                        <div class="radio-box">
                            <input type="checkbox" name="model" value="1" checked>
                            <label title="会自动创建相应的模型，并且自动添加字段create_time，update_time，并且开启时间戳记录">创建模型（model）</label>
                        </div>
                        <div class="radio-box" title="勾选模型了该配置项才会生效，勾选此项后会自动生成create_time,update_time字段，并且自动写入时间戳到数据库">
                            <input type="checkbox" name="auto_timestamp" value="1" checked>
                            <label>自动时间戳记录</label>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="form-group hide">
                    <div class="radio-box" title="会在数据库自动创建相应模型的数据表">
                        <input type="checkbox" name="create_table" value="1" checked>
                        <label>创建数据表</label>
                    </div>
                    <div class="radio-box" title="勾选此项后无论表是否存在都会删除原表强制创建新表，不勾选只在表不存在时才创建新表，慎重选择，如果创建失败会自动回滚">
                        <input type="checkbox" name="create_table_force" value="1" checked>
                        <label>强制建表</label>
                    </div>
                    <label class="col-sm-2 col-md-2">验证器：</label>
                    <div class="col-md-6 col-sm-10 ">
                        <div class="radio-box">
                            <input type="checkbox" name="validate" value="1" checked>
                            <label title="只自动添加必填规则，其他规则太复杂，会留空，请到验证器手动完善">创建验证器（validate）（默认自动生成前端一致的验证规则）</label>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="form-group">
                        <button type="button" data-action="{:\\think\\Url::build('run')}" class="btn btn-primary btn-block ajax-action ">确认创建</button>
                </div>
            </div>
        </div>
        <!--表单 e-->
    </form>
{/block}
{block name="script"}
<script>
    $(function () {

        $('*').click(function(){
            var attr = $(this).attr('title');
            if (typeof attr !== typeof undefined && attr !== false) {
                var myMessager = new $.zui.Messager(attr, {
                    type: 'success',
                    placement:'bottom-right',
                    time: 5000
                });
                myMessager.show();
            }
        });
        // 获取模板
        var template = {}, index = {};
        template['form'] = $("#tbody-form").html();
        index['form'] = 0;
        // 增加一栏
        $(document).on("click", ".op-add", function () {
            var type = $(this).attr("data-type");
            var html = template[type].replace(/(\[\d+\])/g, '[' + (++index[type]) + ']');
            // 表头菜单，追加到第一个
            if ($(this)[0].hasAttribute('data-header')) {
                $("#tbody-" + type).prepend(html);
            } else {
                $(this).closest('tr').after(html);
            }
        }).on("click", ".op-delete", function () {
            // 删除一栏
            $(this).closest("tr").fadeOut(undefined, undefined, function () {
                // 使用回调函数，强行移除该DOM
                $(this).remove();
            });
        }).on("change", ".form-require", function () {
            // 必填项自动加*
            var $this = $(this);
            var formValidate = $this.closest("tr").find(".form-validate-datatype");
            var formValidateVal = formValidate.val();
            if ($this.prop('checked')) {
                if (formValidateVal) {
                    if (formValidateVal.substring(0, 1) != "*") {
                        formValidate.val("*|" + formValidateVal);
                    }
                } else {
                    formValidate.val("*");
                }
            } else {
                if (formValidateVal.length == 1) {
                    formValidate.val("");
                } else {
                    formValidate.val(formValidateVal.substring(2));
                }
            }
        });
    })
</script>
{/block}