<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$seo_title}-{$site_title}</title>
<meta name="Keywords" content="{$seo_keyword}" />
<meta name="Description" content="{$seo_description}" />
<link rel="shortcut icon" href="{$W_IMG}/logo.ico">
<link rel="stylesheet" href="{$W_PLUGIN}/dialogBox/jquery.dialogbox.css ">
<link rel="stylesheet" href="{$W_C_CSS}/wui.css">
<link rel="stylesheet" href="{$W_C_CSS}/font-awesome.min.css">
<link rel="stylesheet" href="{$W_CSS}/ico/iconfont.css">
<link rel="stylesheet" href="{$W_CSS}/common.css">
<style>
    .loading{
        width: 100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        z-index:10000;
        background-color: #FEA62B;
    }

    .ball-scale {
        position: absolute;
        top:40%;
        bottom:0;
        left: 0;
        right: 0;
        margin: auto;
        width: 60px; }

    @-webkit-keyframes ball-scale {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0); }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0; } }

    @keyframes ball-scale {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0); }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0; } }

    .ball-scale > div {
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
        height: 60px;
        width: 60px;
        -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
        animation: ball-scale 1s 0s ease-in-out infinite; }
</style>