{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:site_url('ssap.ssap')}">采样小组</a></li>
            <li class="active"><a>设备状态</a></li>
        </ul>
        <!--搜索start-->
        <div class="container-fluid">
        <form class="form-inline" action="{:site_url('ssap.device')}" method="get" class="with-padding">
            <div class="form-group">
                <label>IMEI</label>
                <input type="text" name="imei" placeholder="请输入IMEI" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
        </div>
        <!--搜索end-->
                <div class="container-fluid">
                    <div class="table-responsive">  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 60px;">ID</th>
                        <th>IMEI</th>
                        <th>在线状态</th>
                        <th>最后心跳时间</th>
                        <th>第一次上线时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.imei}</td>
                        <td>{$vo.update_time|getDeviceState}</td>
                        <td>{$vo.update_time}</td>
                        <td>{$vo.create_time}</td>
                        <td><button data-size="fullscreen" data-title="{$vo.imei}-日志" data-iframe="{:site_url('ssap.event',['imei'=>$vo['imei']])}" data-toggle="modal" class="btn btn-mini btn-primary">设备日志</button></td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table></div>
                    <!--分页-->
                    {$list->render()}
                </div>
    </div>
</div>
{/block}
{block name="js"}
{/block}

