{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/link/index')}">友情链接</a></li>
            <li><a href="{:url('admin/link/add')}">添加链接</a></li>
            <li class="active"><a>编辑链接</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/link/update')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">名称</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="name" value="{$link.name}" required   placeholder="请输入名称" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">图片</label>
                       <div class="col-md-10 col-sm-10">
                           <input class="form-control" type="text" name="image"  value="{$link.image}" readonly>
                           <input type="file" imge="image" name="file" class="form-control" value="" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">链接</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="link" value="{$link.link}" placeholder="（选填）请输入链接" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">状态</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="status" value="1" {if condition="$link.status==1"}checked="checked"{/if}>
                               显示
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="status" value="0" {if condition="$link.status==0"}checked="checked"{/if}>
                               隐藏
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">排序</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="sort" value="{$link.sort}" required  placeholder="请输入排序" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="id" value="{$link.id}">
                            <button type="submit" class="btn btn-primary">更新</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}