{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/menu/index')}">后台菜单</a></li>
            <li class="active"><a>添加菜单</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/menu/save')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">上级菜单</label>
                       <div class="col-md-10 col-sm-10">
                           <select class="form-control" name="pid" >
                                <option value="0">一级菜单</option>
                                {foreach name="admin_menu_level_list" item="vo"}
                                <option value="{$vo.id}" {if condition="$pid==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.title}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">菜单名称</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="title" value="" required   placeholder="请输入菜单名称" class="form-control">
                        </div>
                    </div>
                    <?php echo m_select('类型','type',map('admin-menu-type'),true,'','id="type"','type-item'); ?>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">链接/控制器方法</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="name" value="" required   placeholder="请输入控制器方法 如：admin/Index/index" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">图标</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="icon" value="" placeholder="（选填）如：icon icon-arrow-right" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">状态</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="status" value="1"  checked="checked">
                               显示
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="status" value="0" >
                               隐藏
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">排序</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="sort" value="0" required   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}