{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a>产品管理</a></li>
            <li><a href="{:site_url('weicode.productAdd')}">添加新产品</a></li>
        </ul>
        <div class="container-fluid">
                <div class="container-fluid">
                    <div class="table-responsive">  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 60px;">ID</th>
                        <th>产品名</th>
                        <th>价格</th>
                        <th>库存</th>
                        <th>所属分类</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.price}</td>
                        <td>{$vo.stock}</td>
                        <td>{$vo.ShopCategory.name}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <a href="{:site_url('weicode.productEdit',['id'=>$vo['id']])}" class="btn btn-mini btn-warning">编辑</a>
                            <button name="del" action="{:site_url('weicode.productDel',['id'=>$vo['id']])}" class="btn btn-mini  btn-danger">删除</button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table></div>
                    <!--分页-->
                    {$list->render()}
                </div>
        </div>
    </div>
</div>
{/block}