{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="{:url('admin/article/index')}">文章管理</a></li>
            <li class="active"><a>添加文章</a></li>
        </ul>
        <div class="container-fluid">
            <div class="container-fluid">
                <form class="form-horizontal" action="{:url('admin/article/save')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">所属栏目</label>
                       <div class="col-md-10 col-sm-10">
                           <select class="form-control" name="cid" >
                                {foreach name="category_level_list" item="vo"}
                                <option value="{$vo.id}">{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">标题</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="title" value="" required   placeholder="请输入标题" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">作者</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="author" value="" placeholder="（选填）请输入作者" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">简介</label>
                       <div class="col-md-10 col-sm-10">
                            <textarea name="introduction" placeholder="（选填）请输入简介" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">内容</label>
                       <div class="col-md-10 col-sm-10">
                            <textarea name="content" placeholder="" id="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">缩略图</label>
                       <div class="col-md-10 col-sm-10">
                           <input class="form-control" type="text" name="thumb"  value="" readonly>
                           <input type="file" imge="thumb" name="file" class="form-control" value="" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">状态</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="checked">
                               已审核
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="status" value="0" >
                               未审核
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">置顶</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="is_top" value="1">
                               置顶
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="is_top" value="0" checked="checked">
                               未置顶
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">推荐</label>
                       <div class="col-md-10 col-sm-10">
                           <label class="radio-inline">
                            <input type="radio" name="is_recommend" value="1">
                               推荐
                           </label>
                           <label class="radio-inline">
                            <input type="radio" name="is_recommend" value="0" checked="checked">
                               未推荐
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">发布时间</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="publish_time" value="{:date('Y-m-d H:i:s')}" class="form-control form-date"  readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2">排序</label>
                       <div class="col-md-10 col-sm-10">
                            <input type="text" name="sort" value="0" required   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/admin/zui/dist/lib/datetimepicker/datetimepicker.min.css">
{/block}
{block name="js"}
<script src="__STATIC__/admin/zui/dist/lib/datetimepicker/datetimepicker.min.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {
        var ue = UE.getEditor('content');
        ue.addListener("selectionchange",function(){
            var html = ue.getContent();
            $('#content').val(html);
        });

        $(".form-date").datetimepicker(
            {
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                format: "yyyy-mm-dd hh:ii"
            });
    });
</script>
{/block}