<!--[if (gte IE 9)|!(IE)]><!-->
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__STATIC__/index/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__STATIC__/index/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/js/syntaxhighlighter/scripts/shCore.js"></script>
<script src="__STATIC__/js/syntaxhighlighter/scripts/shAutoloader.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
    SyntaxHighlighter.autoloader(
            ['js','jscript','javascript','__STATIC__/js/syntaxhighlighter/scripts/shBrushJScript.js'],
            ['bash','shell','__STATIC__/js/syntaxhighlighter/scripts/shBrushBash.js'],
            ['css','__STATIC__/js/syntaxhighlighter/scripts/shBrushCss.js'],
            ['xml','html','__STATIC__/js/syntaxhighlighter/scripts/shBrushXml.js'],
            ['sql','__STATIC__/js/syntaxhighlighter/scripts/shBrushSql.js'],
            ['php','__STATIC__/js/syntaxhighlighter/scripts/shBrushPhp.js']
        ); 
    SyntaxHighlighter.all(); 
})
</script>
</body>
</html>