
.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

.public-header{
    height:98px;
}

.public-header-logo{
    float:left;
    width:164px;
    height:54px;
    background: url(../images/public-header-logo.png) no-repeat left;
    background-size: 100%;
    margin: 22px 20px 22px 0;
    display: inline-block;
}

.public-header-logotext{
    float:left;
    color: #656565;
    font-size: 1.4rem;
    margin:50px 0 28px;
    display: inline-block;
}

.public-header-nav{
    float:right;
    position: relative;
}
.public-header-nav .item{
    float:left;
    margin-left:-3px;
}

.public-header-nav .item a{
    width:80px;
    text-align: center;
    color: #656565;
    font-size: 1.4rem;
    padding:50px 0 50px;
}

.public-header-nav .item a:hover,
.public-header-nav .active a{
    color:#2DB9ED;
}

.public-header-nav-item-content{
    display: block;
    position: absolute;
    top:98px;
    left:0;
    width:720px;
    padding: 40px 20px;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
}

.public-header-nav-item-content .content-list{
    float:left;
    padding-right:20px;
    padding-left:20px;
}

.public-header-nav-item-content .content-list h4{
    color:#2DB9ED;
    font-size: 1.6rem;
}

.public-header-nav-item-content .content-list h4 img{
    margin-right:12px;
    float:left;
}

.public-header-nav-item-content .content-list .content-item a{
    color: #656565;
    font-size: 1.2rem;
    padding-top:20px;
}

.public-header-nav-item-content .content-list .content-item a:hover{
    color:#2DB9ED;
}

.public-container{
    position: relative;
    margin:0 auto;
}

.public-footer{
    height:50px;
    background:#021425;
    text-align: center;
    color:#d3d3d3;
    font-size: 1.4rem;
    line-height: 50px;
}

.index-banner{
    overflow: hidden;
    position: relative;
}

.index-banner-info{
    position: absolute;
    top:30%;
    left:12%;
}
.index-banner-info .title{
    color: #fff;
    font-size: 3.6rem;
}

.index-banner-info .title-en{
    color: #fff;
    font-size: 1.4rem;
    margin-top:12px;
}

.index-banner-info .more{
    width:80px;
    border:1px solid #fff;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    padding:10px 0;
    margin-top:20px;
}

.index-banner-control{
    position: absolute;
    bottom:0;
    left:12%;
    right:12%;
}

.index-banner-control .control-list{
    width:100%;
}

.index-banner-control .control-list .control-item {
    position: relative;
    float:left;
    background-color: #fff;
    height:202px;
    width:33.3%;
}

.index-banner-control .control-list .control-item  .control-item-logo{
    float:left;
    margin:42px 10px 38px 10px;
    width:120px;
    height:120px;
    background-size: 100%;
}

.information-logo{
    background: url(../images/index-banner-infomation.png) no-repeat center center;
}

.mobile-logo{
    background: url(../images/index-banner-mobile.png) no-repeat center center;
}

.iot-logo{
    background: url(../images/index-banner-iot.png) no-repeat center center;
}


.index-banner-control .control-list .control-item{
    position: relative;
}

.index-banner-control .control-list .control-item .tra-up{
    display: none;
}

.index-banner-control .control-list .control-item  .title-info{
    padding:55px 0 50px 0;
    width:172px;
    float:left;
}

.control-item  .title-info .title{
    color: #000f1f;
    font-size: 1.6rem;
}

.control-item  .title-info .info{
    color: #656565;
    font-size: 1.2rem;
    margin-top: 20px;
    height:52px;
    overflow: hidden;
}

.index-banner-control .control-list .active  .title-info .title,.index-banner-control .control-list .active  .title-info .info{
    color:#2DB9ED;
}

.index-banner-control .control-list .active {
    top:-10px;
}

.index-banner-control .control-list .active .tra-up{
    display: block;
    position: absolute;
    top:-12px;
    left:50%;
    margin-left: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
}

.index-banner-control .control-list .active  .information-logo{
    background: url(../images/index-banner-infomation-active.png) no-repeat center center;
}

.index-banner-control .control-list .active  .mobile-logo{
    background: url(../images/index-banner-mobile-active.png) no-repeat center center;
}

.index-banner-control .control-list .active  .iot-logo{
    background: url(../images/index-banner-iot-active.png) no-repeat center center;
}

.pagin{
    margin:70px auto;
    width:30%;
}

.pagin-btn{
    float:left;
    margin-right:10px;
    color:#656565;
    background-color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    padding:8px 10px;
}

.pagin-btn:after {
    display:inline-block;
    width:0;
    height:100%;
    vertical-align:middle;
    content:"";
}

.pagin-btn:hover,.pagin .active{
    color:#fff;
    background-color: #12B4EC;
}

.pagin .disable{
    color:#fff;
    background-color: #656565;
    opacity: .6;
}


/*手机竖屏*/
@media screen and (min-width: 320px) and (max-width: 767px){
    .public-container {
        width: 100%;
    }

    .index-banner{
        width:100%;
    }


    .index-banner,.index-banner-block img{
        height:220px;
        width:100%;
    }

    .index-banner-control{
        display: none;
    }

    .index-banner-info{
        zoom:0.6;
    }

    .public-header-logo {
        float:none;
        margin:2rem auto;
        display: block;
    }
    .public-header-logotext{
        float: none;
        display: none;
    }
    .public-header-nav{
        float:none;
        width:480px;
        margin:0 auto;
    }

    .xs-hidden{
        display: none;
    }

    .public-header-nav .item a {
        padding: 10px 0;
    }

    .public-footer{
        margin-bottom: 300px;
    }


}

/*平板或手机横屏*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .public-container {
        width: 100%;
    }

    .index-banner{
        width:100%;
    }

    .index-banner-control{
        display: none;
    }

    .public-header-logo {
        float:none;
        margin:2rem auto;
        display: block;
    }
    .public-header-logotext{
        float: none;
        display: none;
    }
    .public-header-nav{
        float:none;
        width:480px;
        margin:0 auto;
    }

    .public-footer{
        margin-bottom: 200px;
    }

}

/*小分辨率PC*/
@media screen and (min-width: 992px) and (max-width:1199px) {
    .public-container {
        max-width: 960px;
        zoom: 0.8;
    }

    .index-banner{
        padding-top:98px;
    }

    .index-banner-control .control-list{
        zoom:0.7;
    }

    .public-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index:100;
    }

}
/*大分辨率PC */
@media screen and (min-width: 1200px) and (max-width: 1899px){
    .public-container {
        max-width:76%;
    }

    .index-banner{
        padding-top:40px;
    }
    .public-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index:100;
    }

}

@media screen and (min-width: 1900px){

    .public-container {
        zoom:1;
        width: 1440px;
    }

    .index-banner{
        padding-top:98px;
    }

    .public-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index:100;
    }

}







