<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      {volist name="nav" id="vo"}
      <li {$Think.session.lst_id==$vo.id? 'class="am-active"':''}>
      <?php if($vo['type']=='url'){?>
        <a href="{$vo.link}"  target="{$vo.target}" >{$vo.name}</a>
      <?php }else{?>
        <a href="{:url('index/lst',['type'=>$vo['type'],'link'=>$vo['link'],'nav_id'=>$vo['id']])}"
         target="{$vo.target}"
        >{$vo.name}</a>
      <?php }?>
      </li>
      {/volist}
    </ul>
    <!-- <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form> -->
  <blockquote class="am-topbar-form am-topbar-right am-form-inline">
   幸运有你。
  </blockquote>
  </div>
</nav>
<!-- nav end -->
