{extend name="./data/tpl/base.html" /}
{block name="body"}
<div class="container-fluid">
    <!--tab标签-->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a>销售日报管理</a></li>
            <li><a href="{:site_url('shop.clerkDayAdd')}">添加新销售日报</a></li>
        </ul>

        <div class="container-fluid">
                <div class="container-fluid">
                    <div class="table-responsive">  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 60px;">ID</th>
                        <th>关联排班</th>
                        <th>员工</th>
                        <th>最后更新时间</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.scheduling.company.name}->{$vo.scheduling.shop.name}->{$vo.scheduling.stime}->{$vo.scheduling.etime}</td>
                        <td>{$vo.clerk.name}</td>
                        <td>{$vo.update_time}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <a href="{:site_url('shop.clerkDayEdit',['id'=>$vo['id']])}" class="btn btn-mini btn-warning">编辑</a>
                            <button name="del" action="{:site_url('shop.clerkDayDel',['id'=>$vo['id']])}" class="btn btn-mini  btn-danger">删除</button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table></div>
                    <!--分页-->
                    {$list->render()}
                </div>
        </div>
    </div>
</div>
{/block}